<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{{url_for('main.create_event')}}" method="post">
    <label for="title">Event Title</label><br>
    <input name="title" id="title"><br>
    <label for="code">Event Code</label><br>
    <input name="code" id="code"><br>
    <label for="description">Event Description</label><br>
    <input name="description" id="description"><br>
    <input type="Submit" value="Submit">
</form>
</body>
</html>