<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="{{ url_for('main.assignment_completion', task_id=task_id) }}">
    {% for user in attendance %}
        <label>
            <input type="checkbox" name="present" value="{{ user.id }}">
            {{ user.name }}
        </label><br>
    {% endfor %}
    <button type="submit">Submit Attendance</button>
</form>
</body>
</html>
<!--What i want to do is create a form that when submitted affects the creates a new attendance record for each student in the records -->