<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Admin</title>

</head>
<body>
<form action="{{url_for('main.register_admin')}}" method="post">
    {% with messages = get_flashed_messages() %}
    {%  for message in get_flashed_messages() %}
    {{ message }}<br>
    {% endfor %}
    {% endwith %}
    <label for="fname">First Name</label><br>
    <input name="fname" id="fname"><br>
    <label for="lname">Last Name</label><br>
    <input name="lname" id="lname"><br>
    <label for="program">Program</label><br>
    <input name="program" id="program"><br>
     <label for="school-id">School or Staff ID</label><br>
    <input name="school_id" id="school-id"><br>
    <label for="role">Role</label><br>
    <input name="role" id="role"><br>
<!--    In future there should be a dropdown for this but for now we will manage-->
    <label for="email">Email</label><br>
    <input name="email" id="email"><br>
    <label for="password">Password</label><br>
    <input name="password" id="password" type="password"><br>
    <label for="confirm-password">Confirm Password</label><br>
    <input name="confirm-password" id="confirm-password" type="password"><br>
    <input type="Submit" value="Submit">
<!--There should be a way to send verification emails from this point-->
</form>
</body>
</html>